<div class="col-md-4 offset-md-4">
    <div name="data" class="card animate__animated animate__flipInY">     
        <!--Title -->
        <h5 class="card-title text-center pt-5 px-2">AVISO PRIVACIDAD PARA REGISTRO Y ACTUALIZACIÓN DE DATOS PERSONA NATURAL</h5>
        <div class="card-body">
            <div class="scroll">
            <hr>
            <p>
                La FEDERACIÓN NACIONAL DE COMERCIANTES- FENALCO SECCIONAL SANTANDER, es responsable del tratamiento de los datos personales suministrados en los procesos de registro y actualización de clientes y está comprometida en la garantía del derecho fundamental al habeas Data, por ende es responsable del manejo de datos personales proporcionados por usted. Los datos personales que recogemos son utilizados para:
                - Marketing  y prospección comercial.
                - Envío de correspondencia, correos electrónicos, contacto telefónico o mensaje de texto para ofrecimiento de programas y actividades promocionales y de mercadeo.
                - Compartirlos  a terceros con quienes se realice alianzas o contratos para fines comerciales relacionados con la ejecución de actividades propias de EXPOMOTOS y demás comprendidas en su objeto social.
                FENALCO SANTANDER solo recolecta y almacena la información que el usuario ha proporcionado voluntariamente. El cliente que facilite sus datos personales es el único responsable de la veracidad de los datos incluidos, quedando FENALCO exonerado de cualquier responsabilidad al respecto.
                Le recordamos la posibilidad que tiene de acceder en cualquier momento a los datos suministrados, así como de solicitar su corrección, actualización o supresión en los términos de la Ley 1581 de 2012. Para conocer dichos procedimientos puede visitar nuestra página wwv.fenalcosantander.com.co sobre la existencia de la política de Protección de Datos Personales de FENALCO  o mediante correo ordinario remitido a Cra.20 #36-49, Bucaramanga, Santander, indicando en el asunto el derecho que desea ejercitar.
            </p>
            </div>
            <div class="d-grid gap-2">
                <hr>
                <button type = 'submit' class = 'btn tabindex="-1"' routerLink="/register">
                    Volver al formulario
                </button>
            </div>
        </div>
    </div>
</div>
