@font-face {
    font-family: "Gilroy Heavy Italic";
    src: url("/ExpoMotos/src/assets/fonts/GILROY-HEAVYITALIC_0.OTF");
}
@font-face {
    font-family: "Aileron";
    src: url("/ExpoMotos/src/assets/fonts/AILERON-REGULAR.OTF");
}